* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  html{
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    direction: rtl;
  }
  .dash{
    margin: 0 0 40px 0;
}
.start-1 ,.start-3 {
    background-color: #fc466a;
    width: 60px;
    height: .5px;
    margin: 5px auto ;
}
.start-2{
    background-color: #ff305b;
    width: 150px;
    height: 1.5px;
    margin: 0px auto ;
}
/* بداية الناف بار */
  header {
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: #121d27;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  header .logo img {
    height:30px ;
    width: 30px;
    border-radius: 50%;
    border: 2px solid #fff;
  }

  header .logo h1 {
    font-size: 30px;
    margin: 0;
  }

  header nav ul {
    list-style-type: none;
  }

  header nav ul li {
    display: inline;
    margin-left: 20px;
  }

  header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  header nav ul li a:hover {
    color:cyan;
  }
  
  .dropdowen{
    position: relative;
  }
  .sub_ul{
    display: none;
    position: absolute;
    text-align: center;
    background-color: #121d27;
    border-radius: 7px;
    padding: 5px;
    top: 25px;
    left: -30px;
    border-top: 2px solid cyan;
    width: 120px;
    transition: all 10s;
  }
  .dropdowen:hover .sub_ul {
    
    display: block;
    transition: all 5s;

  }

/* نهاية الناف بار */

/* بداية  الصفحه الراسيه  */
.hero {
    background-color: #f1f1f1;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
    align-items: center;
    height: 100vh;
    color: #000000;
    padding: 60px 0;
     text-align: center;
  }
  .hero h2 a{
    text-decoration: none;
    font-size: 20px;

  }

  .hero-content h2 {
    
    font-size: 70px;
    margin: 20px 0;
    color:#080707;
  }

  .hero-content p {
    color: #333333;
    font-size: 30px;
  }
  /* نهاية اصفحه الراسيه */
/* بدايه المنيو  */
  .menu {
    height: 100vh;
background-color: #d6d6d6;
    padding: 40px 0;
    text-align: center;
  }
  #menu2 ,   #menu4{
    background-color:#f1f1f1;
  }
  .menu h2 {
    
    font-size: 30px;
    margin: 20px;
  }

  .menu-section {
     height: 100vh;
    margin: 40px  20px;
  }

  .menu-section h2 {
    color: #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .menu-item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 48%;
  }

  .menu-item span {
    font-weight: bold;
  }
  /* نهاية المنيو */
/* بداية عن المطعم  */
  .about img{
    width:200px;
  }
  .about, .contact {
    padding: 50px 0 30px 0;
    text-align: center;
    background-color: #ffffff;
  }

  .about h2, .contact h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
/* نهااية عن المطعم */
/* بداية طلب الاوردر  */
  .hedar-section h3{
    color: #333333;
    text-align: center;
    padding: 60px 0 0 0;
    font-size: 30px;
}
.sendmaseg{
    background-color:#f1f1f1;
}
.sendmaseg .form {
    overflow: hidden;
    width: 70%;
    margin: auto ;
    padding: 0 0 70px ;
    
}

.input-1{
    display: flex;
    gap: 10px;  
}

.form .name ,.form .phone ,.subject ,.text-arya{
    margin: 0 0 20px 0;
    border-radius: 5px;
    outline: none;
    border:1px solid #bebaba;
    width: 100%;
    padding: 10px;
    resize: none;
}

.input-2{
    display: flex;
    flex-direction: column;
}
.btn2{
    border:#121d27;
    color: #f7f7f7;
    background-color:#121d27;
    width: 140px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    padding: 10px 20px;
    cursor: pointer;
}
.btn2:hover{
    color: cyan;
}
/* نهاية طلب الاوردر */

  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }
  @media (max-width: 769px){
    header ,.input-1{
        flex-direction: column;
    }
    .hero-content h2 {
        font-size: 38px;
    }
    .hero-content p {
        font-size: 19px;
    }
    .hero{
        justify-content: space-around;
    }
    .menu-item-container{
        flex-direction: column;
    }
    .menu-item {
        width: 100%;
    }
    .sendmaseg .form{
        width: 90%;
    }
   
  }